h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

    body {
        margin-left: 20%;
        margin-right: 20%;
    }
    body,input,button{
        font-family: "Century Gothic", sans-serif;
        font-size: 20pt;
    }
    div {
        margin: 0.5em;
    }

    .awesome{
        background-color: red;
    }