h1, h2{
    color: #1e81b0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color:#dfa5b1;
}
#name{
    color: #b0281e;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:hover{
    color: greenyellow;
    text-decoration: underline;
}
img{
    width: 300px;
    height: 300px;
}

.valid{
    width: 40px;
    height: 30px;
    border: black;
}

h1{
    border-bottom: 2px solid lightslategray;
}